@charset "EUC-KR";



#calendar {
	max-width: 1250px;
	max-height:720px;
	margin: 0 auto;
}

.modal-dialog{
	max-width: 700px;
}


.selectTime{
	width: 70px;
	height: 30px;
	text-align-last: center;
}
.labelTime{
	width: 80px;
}
.labelTime2{
	width: 84px;
}
.chk-span{
	font-size: 15px;
}
.schFol{
	height: 27px;
}

.txLabel{
	position: absolute;
	
}
.addTitle{
	width: 89%;
	
}
#addContent{
	width:80%;
}

.txSch{
	margin-left: 134px;
	width: 89%;
	min-width: 50%;
}
.afbtdiv{
	margin: 0;
	margin-top : 20px;
	width: 100%;
	text-align: center;
}
.fc-daygrid-day-number {
	color:black;
}
.fc-col-header-cell-cushion{
	color: black;
}

.fc-col-header > tbody> tr > th:nth-child(1) .fc-col-header-cell-cushion{
	color:red;
}
.fc-daygrid .fc-col-header > tbody> tr > th:nth-child(7) .fc-col-header-cell-cushion{
	color:blue;
}
.fc-scrollgrid-sync-table > tbody> tr > td:nth-child(1) .fc-daygrid-day-number{
	color:red;
}
.fc-scrollgrid-sync-table > tbody> tr > td:nth-child(7) .fc-daygrid-day-number{
	color:blue;
}
.consDiv{
	background-color: white;
	border-radius: .35rem!important;
	margin-bottom: 10px;
}


