@charset "UTF-8";

.main-div{
	margin-bottom: 100px;
}

.main-div2{
	max-width: 85%;
	margin: auto;
}
	
.main-h1{
	margin-left: 30px;
	display: inline-block;
}

.main-table{
	width: 100%;
}

.asset{
	float: right;
	margin-top: 10px;
    height: 30px;
	
}

.consDiv{
	background-color: white;
	border-radius: .35rem!important;
	margin-bottom: 10px;
}
.fc-license-message{
	display: none;
}

