@charset "UTF-8";
.ann-div{
	clear: both;
}
.ann-table{
	width: 100%;
	border: 1px solid;
}	
.ann-th{
	border-bottom: 1px solid;
}
.ann-td{
	border-bottom: 1px solid;
}


/* stats-terms */
.stats-terms2{
	display: none;
}
.stats-check{
	position: absolute;
	background-color: white;
	box-shadow: 0px 0px 5px 2px #62b0cb;
	display: none;
}
.check-span:hover{
	cursor: pointer;
}
#checkDiv2{
	margin-left: 108px;
}

.page_wrap {
	text-align: center;
	font-size: 20px;
}

.page_nation {
	display: inline-block;
}

.page_nation a {
	display: block;
	margin: 0 3px;
	float: left;
	border: 1px solid #e6e6e6;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background-color: #fff;
	font-size: 13px;
	color: #999999;
	text-decoration: none;
}

.page_nation .arrow {
	border: 1px solid #ccc;
}

.page_nation a.active {
	background-color: #42454c;
	color: #fff;
	border: 1px solid #42454c;
}