@charset "EUC-KR";



#calendar {
	max-width: 1100px;
	margin: 0 auto;
}

.modal-dialog{
	
	max-width: 700px;
}

.selectTime{
	width: 70px;
	height: 27px;
	text-align-last: center;
}
.labelTime{
	width: 70px;
}
.labelTime2{
	width: 70px;
}
.schFol{
	height: 27px;
}

.txLabel{
	position: absolute;
	
}

.txSch{
	margin-left: 73px;
	width: 95%;
	min-width: 50%;
}
.afbtdiv{
	margin: 0;
	width: 100%;
	text-align: center;
}

