@charset "UTF-8";

body {
	color: #000;
	overflow-x: hidden;
	margin : 0 auto;
	width: 80%;
	height: 100%;
	background-color: #B0BEC5;
	background-repeat: no-repeat;
}

.card0 {
	box-shadow: 0px 4px 8px 0px #757575;
	border-radius: 0px
}

.card2 {
	margin: 0px 40px
}

.logo {
	width: 180px;
	height: 90px;
	margin-top: 20px;
	margin-left: 35px
}

.image {
	width: 80%;
	height: 360px
}

.border-line {
	border-right: 1px solid #EEEEEE
}

.line {
	height: 1px;
	width: 45%;
	background-color: #E0E0E0;
	margin-top: 10px
}

.or {
	width: 10%;
	font-weight: bold
}

.text-sm {
	font-size: 14px !important
}

::placeholder {
	color: #BDBDBD;
	opacity: 1;
	font-weight: 300
}

:-ms-input-placeholder {
	color: #BDBDBD;
	font-weight: 300
}

::-ms-input-placeholder {
	color: #BDBDBD;
	font-weight: 300
}

input, textarea {
	padding: 10px 12px 10px 12px;
	border: 1px solid lightgrey;
	border-radius: 2px;
	margin-bottom: 5px;
	margin-top: 2px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 14px;
	letter-spacing: 1px
}

input:focus, textarea:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #2da6bb;
	outline-width: 0
}


button:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline-width: 0
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none !important;
	
}

.btn-blue {
	background-color: #2da6bb;
	width: 150px;
	color: #fff;
	border-radius: 2px
}

.btn-blue:hover {
	background-color: #000;
	cursor: pointer
}

.bg-blue {
	color: #fff;
 	background-color: #2da6bb;
}

.findPwd:hover{
	color: #2da6bb;
	cursor: pointer;
}

.form-check #emp{
	width: 30px;
}
.form-check #admin{
	width: 30px;
}
.logo{
	height: 50px;
}
.textGroup{
	width:  500px; 
}
.buttonGroup{
	margin-left: 115px; 
}

.modalButton{
	margin-left: 30px;
}


input[type="checkbox"] {
  display: none;
}

.label__on-off {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 58px;
    height: 26px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    background-color: #ed4956;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-top: 3px;
}

.label__on-off > * {
    vertical-align: sub;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-size: 14px;
}

.label__on-off .marble {
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.label__on-off .on {
    display: none;
    padding-left: 12px;
}

.label__on-off .off {
    padding-left: 30px;
    line-height: 25px;
}

.input__on-off:checked + .label__on-off {
    background-color: #0bba82;
}

.input__on-off:checked + .label__on-off .on {
    display: inline-block;
}

.input__on-off:checked + .label__on-off .off {
    display: none;
}

.input__on-off:checked + .label__on-off .marble {
    left: 33px;
}

.svg-wrapper {
  height: 30px;
  width: 100px;
  float: right;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #2da6bb;
}

.findPwd {
  text-align: center;
  font-size: 0.9em;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -61px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
