@charset "UTF-8";

/* 주소록 메인 */
#bookMainDiv{
	float: left;
	width: 95%;
	margin: 20px;
   	background: white;
	padding-bottom: 20px;
   	border-radius: 15px;
    box-shadow: 0px 2px 20px #d0d0d0;
    position: sticky;
}

#bookMainDiv > h3{
	margin: 40px 0 10px 40px;
	color: rgb(58, 58, 58);
}

#searchDiv{
	float: left;
	margin-left: 40px;
}

#searchDiv > select{
	height : 30px;
}

#searchDiv > input[type=submit]{
	width: 70px;
}

#searchTextBox{
	width: 300px;
}

#serviceDiv > div{
	float: left;
	width: 100px;
	padding: 5px 0;
	margin: 20px 0 20px 40px;
	border-radius: 5px;
	color: white;
	font-size: 14px;
	text-align: center;
	background-color: rgb(54, 185, 204);
}

#addMail{
	float: right;
	width: 100px;
	padding: 5px 0;
	margin: 20px 0 20px 10px;
	color: white;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	border: none;
	background-color: rgb(54, 185, 204);
}

#deleteBtn{
	float: right;
	width: 100px;
	padding: 5px 0;
	margin: 20px 70px 20px 10px;
	color: white;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	border: none;
	background-color: rgb(54, 185, 204);
}


#bookMainDiv > table{
	width: 93%;
	margin: 30px 40px;
	border-top: 1px solid #d0d0d0;
}

#bookMainDiv > table > thead > tr > th{
	height: 40px;
	padding-left: 30px;
	font-size: 17px;
	color: rgb(56, 56, 56);
	border-bottom: 1px solid #d0d0d0;
}

#bookMainDiv > table > tbody > tr > td{
	height: 50px;
	font-size: 15px;
	padding-left: 30px;
	border-bottom: 1px solid #d0d0d0;
	color: rgb(56, 56, 56);
		
}

#userNameTd > img{
	width: 30px;
	height: 30px;
	border-radius: 30px;
}

#userNameSpan{
	padding-left: 15px;
}

#pagingDiv{
	text-align: center;
}

/* 주소록 등록, 수정 */
#bookWriteDiv{
	float: left;
	width: 80%;
	margin: 20px 150px;
   	background: white;
	padding: 50px 0;
   	border-radius: 15px;
    box-shadow: 0px 2px 20px #d0d0d0;
    position: sticky;
}

#bookWriteDiv > h4{
	color: #373737;
	font-size: 30px;
	font-weight: bold;
	text-align: center;	
}

#bookWriteDiv > p{
	margin: 50px 0;
	font-size: 17px;
	font-weight: normal;	
	text-align: center;	
	color: rgb(255, 66, 66);
}

.splitSpan{
	color: #373737;
	font-size: 20px;
	font-weight: bold;
	
}

div > label{
	color: #373737;
	margin: 20px 20px 0 20%;
	font-size: 20px;
	font-weight: bold;
}

.inputItems{
	margin-left: 20px;
	font-size: 20px;
	width: 50%;
}

#btnItems{
	text-align: center;
	margin-top: 50px; 
}

#bookWriteSubmit{
	width: 90px;
	height: 50px;
	font-size: 17px;
	font-weight: bold;
	background: #55bed9;
	color: white;
	border-radius: 10px;
	border: none;
}

#bookWritwCancleBtn{
	width: 90px;
	height: 50px;
	font-size: 17px;
	font-weight: bold;
	background: #a2a2a2;
	color: #454545;
	border-radius: 10px;
	border: none;
}